nav {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 999999;
  .navigation-wrapper {
    padding: 10px 10px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    user-select: none;
    border: #fff dashed 1px;
    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      li {
        cursor: pointer;
        width: 90px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        border-radius: 30px;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    .navigation-wrapper {
      padding: 10px 20px;
      ul {
        gap: 10px;
        font-size: small;
        li {
          width: auto;
        }
      }
    }
  }
}
